{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
  ]
}
